@-webkit-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}
@-webkit-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}
@-moz-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}
@-ms-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}
@-moz-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}
@-webkit-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}
@-o-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}
@keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }
    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }
    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}
.uil-ripple-css {
    background: none;
    position: relative;
    width: 200px;
    height: 200px;
}
.uil-ripple-css div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    border-width: 12px;
    border-style: solid;
    -ms-animation: uil-ripple 2s ease-out infinite;
    -moz-animation: uil-ripple 2s ease-out infinite;
    -webkit-animation: uil-ripple 2s ease-out infinite;
    -o-animation: uil-ripple 2s ease-out infinite;
    animation: uil-ripple 2s ease-out infinite;
}
.uil-ripple-css div:nth-of-type(1) {
    border-color: #afafb7;
}
.uil-ripple-css div:nth-of-type(2) {
    border-color: #5cffd6;
    -ms-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}



#store_locator_map {
    height: 100%;
}

/*#store_locatore_search_input{
    width: 75%
}*/

.store_locator_settings_div label{
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.store_locator_settings_div textarea{
    height: 120px;
    width: 70%;
}

#store_locator_load_more {
    background-color: #e8e8e8;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

#store_locator_load_more:hover {
    background-color: #e0e0e0;
}

#chartAllStoresdiv a, #chartStorediv a, #chartStoredivPi a{
    display: none !important;
}

.store_locator_chartNoData{
    background-color: #f3f3f3;
    font-size: 15px;
    padding: 28px 0;
    text-align: center;
    width: 100%;
}

/* 
 * Generic Styling, for Desktops/Laptops 
 */
table.store_locator_grid_results { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
/*.store_locator_grid_results tr:nth-of-type(odd) { 
    background: #eee; 
}*/
.store_locator_grid_results th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
.store_locator_grid_results td, .store_locator_grid_results th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
}

/* ****************************** Front End ***************************** */

#store_locator_search_form input#store_locatore_get_btn {
/*    width: 20%;*/
    padding: 13px;
/*    margin-right: .5%;*/
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 0px;
}
#store_locator_search_form #store_locatore_search_input {
/*    max-width: 75%;*/
width: auto;
    padding: 10px;
    background: transparent;
    border-radius: 0px;
    margin-top: 10px;
}
/*#store_locator_search_form #store_locatore_search_input ::-webkit-input-placeholder{  color:#FFF!important;}
#store_locator_search_form #store_locatore_search_input ::-moz-placeholder {    color:#FFF!important;}
#store_locator_search_form #store_locatore_search_input :-ms-input-placeholder{ color:#FFF!important;}
#store_locator_search_form #store_locatore_search_input :-moz-placeholder {  color: #FFF!important;}*/

#store_locator_search_form select#store_locatore_search_radius {
    margin: 10px 0px 10px 7px;
    padding: 10px;
    display: block;
    float: left;
/*    width: 20%;*/
}

input#store_locatore_search_input {
   /* color: #FFF!important;*/
}
select#store_locatore_search_radius {
    /*color: #FFF!important;*/
}   

a.select2-choice {
    color: #FFF!important;
}
#store_locator_search_form div#s2id_store_locator_category {
    display: block;
    float: left;
    margin: 10px 10px 10px 0px;
/*    width: 20%;*/
}
#store_locator_search_form div#s2id_store_locator_category a{
    padding: 7px;
    border-radius: 0px;
    background-image: none;
    border-color: #DDDDDD;
    height: auto;
    background:transparent;
}
#store_locator_search_form div#s2id_store_locator_category a span:last-child{
    border-radius: 0px;
    background: transparent;
    border: 0px;
    top: 6px;
    bottom: 0;
    width: 20px;
}
#store_locator_search_form div#s2id_store_locator_tag{
    display: block;
    float: right;
    margin: 10px 10px 10px 0;
    min-width: 135px;
}
#store_locator_search_form div#s2id_store_locator_tag ul{
    padding: 3px;
    background-image: none;
    border-color: #dddddd;
        background: transparent;
}

#store_locator_search_form input#store_locatore_search_btn {
    padding: 13px;
/*    width: 20%;*/
    display: block;
    margin: 10px 0;
    clear: both;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 0px;
    float:right;
}
.slide-left {
    /*margin-bottom: -288px;
-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;*/
  
}
.col-left{position:relative;}
.closesidebar {
    /* border-radius:0px; */
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
    background:url('../img/search-options.png') no-repeat center rgb(92, 94, 85);    
        background-size: 16px;
    position: absolute;
    top: 28%;
    right: -17px;
    height: 118px!important;
    border: 3px solid rgb(92, 94, 85);
    box-shadow: 2px 2px 4px rgba(35, 35, 35, 0.15);
    border-radius: 0 10px 10px 0px;
}
.gm-style-iw span{ display: block;}
.select2-container{margin-right:0px!important}

.img-content img {
    border: 2px solid rgb(92, 94, 85);
    box-shadow: 8px 5px 16px rgb(173, 173, 173);
    border-radius: 5px 5px 5px 5px;
    margin: 4px 4px 4px 4px;
    box-shadow-radius: 4px 4px 4px 4px;
}
.closesidebar.arrow_right {
/*  height: 40px!important;
    width:20px!important; */
    background:url('../img/arrow-left.png') no-repeat center rgb(92, 94, 85)!important;    background-size: 100%!important;}
.leftsidebar{
    /*-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;*/
}
.store_locator_grid_results tr {
    text-transform: capitalize;
}
.store_locator_working_hours tr.store-locator-open{
   /* color: green;*/
}
.store_locator_working_hours tr.store-locator-closed{
    /*color: #F97C7C;*/
}
table.store_locator_working_hours {
    margin-bottom: 0px;
}
.store_locator_working_hours tr:nth-of-type(odd) {
    /*background: #eee;*/
}
.store_locator_working_hours tr:nth-of-type(even) {
    /*background-color: white;*/
}
.store-locator-item span.store-locator-name {
    display: block;
    margin: 10px 0;
}
/*.store-locator-item-container .store-locator-item .store-locator-name a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.store-locator-item-container .store-locator-item .store-locator-name a {
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
}*/
/* scrollbar css*/
/* Let's get this party started */
.store-locator-item-container::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 14px;
}

/* Track */
.store-locator-item-container::-webkit-scrollbar-track,
select::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;

    border-radius: 0px;
}

/* Handle */
.store-locator-item-container::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb{
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.store-locator-item-container::-webkit-scrollbar-thumb:window-inactive,
select::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(208, 0, 0, 0.4);
}
/*scrollbar css end*/
.store-locator-item-container .store-locator-item div a:hover,
.store-locator-item-container .store-locator-item div a:focus {
    text-decoration: none;
}
.store-locator-item-container .store-locator-item div a {
    display: inline-block;
    box-shadow: none;
}
.store-locator-item-container .store-locator-item div > span:after {
    content: ":";
    margin: 0px 2px;
}
.store-locator-item-container .store-locator-item > div {
    margin: 8px 0;
    position: relative;
    /*border: 1px solid #dedede;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    /*background: whitesmoke;*/
    
}
.vstore-locator-item-container ::-webkit-scrollbar {
    width: 1em;
}
 
.store-locator-item-container ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.store-locator-item-container ::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid slategrey;
}

.store-locator-item-container .store-locator-item > div > div {
    display: inline-block;
}
.store-locator-item-container .store-locator-item div > span {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    vertical-align: top;
}
.store-locator-item-container .store-locator-item table.store_locator_working_hours tbody tr td {
    padding: 5px;
    text-align: left;
}
.store-locator-item-container .store-locator-item {
    border-top: solid 1px #CCC;
    padding: 8px;
    cursor: pointer;
    float: left;
    position: relative;
    width: 105%;
}
.store-locator-item-container .store-locator-item  h1.store-locator-name {
    margin-bottom: 8px;
}
h1.store-locator-name {
    font-size: 14px;
}
span.store_locator_start:after {
    content: "-";
    margin: 0 4px;
}
/* ////////////// Single Store ////////////// */

.store_locator_has_coverImage .store_locator_header img {
    width: 100%;
}
.store_locator_has_coverImage .store_locator_body{
    margin: 20px 0;
}
.store_locator_has_coverImage .store_locator_body .store_locator_map {
    float: right;
    margin: 10px 0 30px;
}
.store_locator_container .store_locator_body .store_locator_content ul{
    margin: 0;
}
.store_locator_container .store_locator_body .store_locator_content ul li.store_locator_working_hours {
    clear: both;
}
.store_locator_container .store_locator_body .store_locator_content ul li{
    list-style-type: none;
    font-size: 14px;
    margin: 5px 0;
}
.store_locator_has_coverImage .store_locator_body .store_locator_content ul li h1{
    display: inline-block;
}
.store_locator_container .store_locator_body .store_locator_content ul li span{
    font-weight: bold;
    width: 80px !important;
    display: inline-block;
}
.store_locator_container .store_locator_body .store_locator_content ul li:last-child {
    margin-top: 20px;
}
.store_locator_no_coverImage .store_locator_body .store_locator_map div#store_locatore_map {
    width: 100% !important;
}
.store_locator_no_coverImage .store_locator_body .store_locator_content ul li table.store_locator_working_hours {
    margin: 20px 0;
}
.store_locator_container .store_locator_body .store_locator_content ul li span.store_locator_managers_titles {
    vertical-align: top;
  
}
.store_locator_container .store_locator_body .store_locator_content ul li .store_locator_managers_wrapper {
    display: inline-block;
}
.store_locator_container .store_locator_body .store_locator_content ul li .store_locator_managers_wrapper span {
    display: block;
    width: 100% !important;
    font-weight: normal;
}
.store_locator_container{
    background: #fff;
}
.store_locator_content{
    padding: 10px;
}
/* ////////////// Sidebare ////////////// */
#store_locator_widget_results ul li {
    list-style-type: none;
}
#store_locator_widget_results ul {
    margin: 0px;
}
#store_locator_widget_results ul li {
    list-style-type: none;
    font-weight: bold;
    margin: 5px 0;
}
#store_locator_widget_results ul li span:last-child {
    font-weight: normal;
    margin-left: 25px;
    font-size: 12px;
}
/* ****************************** Back End ***************************** */

/* ////////////// Setting ////////////// */
.store_locator_map_settings ul li {
    display: inline-block;
    margin: 5px;
}
.store_locator_tip{
    display: block;
    font-style: italic;
    color: #9E9E9E;
    font-size: 12px;
}
#s2id_store_locator_grid_columns, #s2id_store_locator_single_items{
    min-width: 185px;
}
.row{width:100%; overflow:hidden;}
.full_width_div .col-left{
    float:left;
    width: 300px;
    }
.full_width_div  .col-right{
    /* float: right; */
    width: 100%;
    right: 0%;
    position: absolute;
        }
#store_locatore_search_input,
#s2id_store_locator_tag,
#store_locatore_get_btn{ width:271px!important;}
.leftsidebar #store_locatore_search_radius, .leftsidebar #s2id_store_locator_category {
    /*width: 131px!important;*
    min-width: 131px;
   /* max-width: 131px;*/
    font-size: 14px;
    line-height: 19px;
}
/*#store_locatore_search_radius,
#store_locatore_search_input{ border-radius:0px; border-color:#CCC!important;background: transparent!important;}
#s2id_store_locator_category,
#s2id_store_locator_category > a{ shadow:0px 0px!important;
    -webkit-box-shadow:0 0!important;
    box-shadow: 0 0 !important;
    }
    
*/
.ob_stor-relocator{
    display:block!important; 
    width:100%!important; 
    float:left;
    position: relative;
}
.col-left.leftsidebar {
    top: 0;
    left: 0;
    z-index: 999;
    /* background: rgba(14, 14, 14, 0.45); */
    /* background: url(sidebartrans.png) repeat; */
    /* padding: 5px 6px; */
    /* border: 2px solid rgb(92, 94, 85); */
    box-shadow: 8px 5px 16px rgba(47, 47, 47, 0.2);
    /* border-radius: 5px 5px 5px 5px; */
    padding: 10px 11px;
    background-color: white;
}

.col-right.right-sidebar {
    width: 100%;
    position: relative;
    top: 0;
}
.full_width_div{
        width: 100%!important;
        clear: both;
        margin-bottom:20px;
}

img.load-img {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 38%;
    right: 0;
    margin: 0 auto;
    width: 130px;
    /* display:none; */
}
.overlay-store {
    background-color: white;
    position: absolute;
    opacity: 0.5;
    z-index: 999999999999;
    height: 100%;
    width: 100%;
    display:none;
    
}
.store-locator-item-container {
    overflow-y: auto;
    /* height: 238px; */
    height: 100%;   
    font-size: 11px;
    overflow-x: hidden;
        direction: rtl!important;
            
}
.entry-content.full_width_div {
    position: relative;
}
/* ****************************** Media ***************************** */
@media (max-width: 520px){
    span.store_locator_start{
        display: block;
    }
    span.store_locator_start:after{
        content: "";
        margin: 0px;
    }
    .store-locator-closed span.store_locator_start:after{
        content: "-";
    }
}
input#store_locatore_get_btn,
input#store_locatore_search_btn {
    background: #252525;
    width: 40%;
}

.select2-search input{     background: rgb(92, 94, 85)!important; color:#FFF!important}
li.select2-no-results{     background: #999!important;}


div#store_locatore_search_map .gm-style-iw h3 {
    padding: 5px 0px 0px;
    /* background-color: #4285F4; */
    /* color: #fff; */
    /* font-family: Roboto, Arial, sans-serif; */
    margin: 0px;
}


.section-hero-header-directions-base.ripple-container {
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.3);
    transition: box-shadow 150ms cubic-bezier(.4,0,1,1);
    color: #4285F4;
}

a.store-direction {
    color: white !important;
    float: right;
    display: block;
    position: absolute;
    right: 5px;
    bottom: 0px;
    font-size: 12px;
    color: #4285f4 !important;
    top: 5px;
}

button, input[type="button"], input[type="submit"] {
    background-color: #222;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800 !important;
    line-height: 1;
    font-weight: normal;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.wpsl_search_radius {
    padding: 8px;
    margin: 8px 0px;
    width: 98%;
    border-radius: 0px;
    border-color: #d0d0d0;
}

.wpsl_store_locator_category {
    padding: 8px;
    margin: 8px 0px;
    width: 98%;
    border-radius: 4px;
    border-color: #d0d0d0;
}

.wpsl_search_input {
    background-color: white;
    color: black;
    width: 100%;
}

select#wpsl_store_locator_category {
    padding: 10px;
    width: 97%;
    border-radius: 0px;
    border-color: #d0d0d0;
    margin: 10px 0px 10px 7px;
        display: block;
}

.select2-display-none {
    background-color: white;
    border-top: solid 1px #CCC;
}

ul.select2-results li {
    border-bottom: solid 1px #CCC;
    font-size: 12px;
    padding: 8px;
}

div#select2-drop {
    background-color: white;
    color: black;
}

input#store_locatore_search_input {
    border: solid 1px #CCC;
}

form#store_locator_search_form input[type="text"], select {
    color: #484848;
    float:right;
}
.map-listings {
    /*position: absolute;
    right: 0%;
    height: 500px;*/
    width: 26%;
    top: 0%;
    background-color: white;
    box-shadow: 0px 0px 15px #CCC;
    border-left: solid 1px #CCC;
}

.store-locator-item:nth-child(even) {
    background-color: #f1f1f1;
}


.store-locator-item:hover {
    background-color: #f7f7f7;
}

.store-list-details {
    width: 80%;
    float: left;
    margin-left:10px!important;
}

.circle-count {
    background-color: rgb(202, 66, 66);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute !important;
    /* top: 56px; */
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 31px;
    right: 5%;
}
.col-left {
    margin: 10px;
}

.search-options-btn {
    background-color: rgb(202, 66, 66);
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.store-search-fields {
    display: none;
    margin-top: 8px;
}

.store-locator-not-found {
    font-size: 128px;
    color: #b1b1b1;
    font-weight: bold;
    text-align: center;
    margin: 60px     0px;
}

.store-locator-not-found p {
    font-size: 24px;
}

.wpsl-list-title {
    font-size: 18px;
    text-align: center;
    padding: 8px;
    background-color: #e4e4e4;
    color: #7b7b7b;
}

.wpsl-wesite-link a {
    color: #FF5A1A;
}

.wpsl-headline-title {
    background-color: #FF5A1A;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 31px;
    text-align: center;
    padding: 20px 0px;
}

.wpsl-name {
    font-size: 12px;
    font-weight: bold;
}

.wpsl-choose-location-btn {
    background-color: #9e9e9e;
    color: white;
    padding: 14px;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    border-radius: 8px;
}

.store-locator-item:hover .wpsl-choose-location-btn {
    background-color: #FF5A1A;
}

.store-list-address {
    width: 100%;
}


.sponsored-clinic {
    text-align: center;
    color: #31c1d2;
    font-size: 16px;
    border-radius: 5px;
    width: 154px;
    margin: auto !important;
    font-weight: bold;
}

.sponsored-clinic {
    text-align: center;
    color: #31c1d2;
    font-size: 12px;
    border-radius: 5px;
    width: 154px;
    margin: auto !important;
    font-weight: bold;
}

.map-listings.right {
    position: absolute;
    right: 0%;
}

div#store_locatore_search_map.right {
    left: 0%;
}

.map-listings.left {
    position: absolute;
    left: 0%;
}

div#store_locatore_search_map.left {
    right: 0%;
}

.ob_stor-relocator {

    margin-bottom: 0!important;
}

.ob_stor-relocator {

    position: initial!important;
    margin: 0 auto;

}

.page-search-clinics div#main{
    padding: 0!important;

}


img.load-img {

    top: 50%!important;


}
/**
* RESPONSVE

**/


@media only screen and (max-width: 1199px) {

    .map-listings {
        width: 30%;
    }

    div#store_locatore_search_map.left {
        width: 70%!important;
    }
}
@media only screen and (max-width: 1110px) and (min-width: 992px) {

    .store-list-details .wpsl-choose-location-btn {

        padding: 11px 15px!important;
        font-size: 11px!important;
    }

}


@media only screen and (max-width: 992px) {

    .top-details {

        height: 23px;
    }

    .map-listings {
        width: 40%;
    }

    div#store_locatore_search_map.left {
        width: 60%!important;
    }
}


@media only screen and (max-width: 810px) and (min-width: 769px){

    .store-list-details .wpsl-choose-location-btn {
        padding: 10px 12px!important;
        font-size: 12px!important;
    }

    .store-list-details .wpsl-name {

        font-size: 11px!important;
    }

}

@media only screen and (max-width: 768px) {
    /*
    .full_width_div {

        height: 865px!important;
    }
    */
    .map-listings {
        width:50%;
    }

    div#store_locatore_search_map.left {
        width: 50%!important;
    }

}

@media screen and (max-width: 681px) and (min-width: 600px) {

    /*.store-list-details .wpsl-name {*/

        /*font-size: 12px!important;*/
    /*}*/
}

@media screen and (max-width: 656px) and (min-width: 600px) {

    /*.store-list-details .wpsl-name {*/

        /*font-size: 12px!important;*/
    /*}*/

    .store-list-details .wpsl-choose-location-btn {

        font-size: 13px!important;
    }
}


@media screen and (max-width: 636px) and (min-width: 600px){

    .store-list-details .wpsl-choose-location-btn {
        padding: 10px 13px!important;

    }
}


@media screen and (max-width: 636px) and (min-width: 600px) {
    .show-more {
    display:none
    }
}

@media screen and (max-width: 600px) {



    .show-more {
        background: #f45d21;
        text-align: center;
        margin: 0;
        z-index: 100000;
        position: absolute;
        bottom: -34px;
        left: 0;
        right: 0;
        cursor: pointer;
        font-size: 17px;
        font-weight: bold;
        color: white;
        padding: 5px 0 5px 0;
    }



    .store-list-details .wpsl-name {
        font-size: 14px!important;
        height: 40px;
        overflow: hidden;
    }

    .store-list-details .wpsl-name {
        font-size: 14px!important;
    }

    div#store_locatore_search_results {
        line-height: 0;
    }

    .map-listings {
    width: 100% !important;

    }

    div#store_locatore_search_map.left{
        top: 220px;
        width: 100% !important;
    }



    .wpmsl-searchbox{
        width:80%;
    }

    .wpmsl-searchbox span {
        display: none;
        border-bottom: solid 1px;
        width: 100%;
    }

    .wpmsl-searchbox select {   
        width: 100%;
        font-size: 14px !important;
        padding: 5px !important;
        border: solid 1px !important;
        border-radius: 3px !important;
        height: auto !important;
        margin: 6px 0px !important;
    }

    .wpmsl-searchbox input {
            width: 100% !important;
        margin: 0px !important;
        font-size: 14px !important;
        padding: 5px !important;
        border: solid 1px !important;
        border-radius: 3px !important;
        margin: 4px 0px !important;
        height: 38px !important;
    }

    .map-listings.left.resp-height, .full_width_div.resp-height {
        height: auto!important;
    }


}

.wpsl-distance {
    background-color: rgb(49, 193, 210);
    color: white;
    width: 60px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    font-size: 11px;
    float:right;
        display: block;
    clear: both;
}

.store-infowindow .wpsl-choose-location-btn {

    padding: 15px 12px!important;
    font-size: 15px;
}

.store-infowindow p {
    font-size: 13px;
    font-weight: 400;
    COLOR: #4d4c4c;
}

.store-infowindow b {
    font-size: 16px;
    COLOR: #4d4c4c;
}


.store-infowindow .wpsl-choose-location-btn a,.store-infowindow .wpsl-choose-location-btn a:hover{
    color:white!important;
}


@media only screen and (max-width: 842px) and (min-width: 769px){
    /*
    .full_width_div {
        height: 824px!important;
    }
    */
    .map-listings.left {
        height: 738px!important;
    }

    div#store_locatore_search_map.left {

        height: 738px!important;
    }
}

@media screen and (max-width: 600px){

    .store-list-details .wpsl-choose-location-btn {
        padding: 15px 19px!important;
        font-size: 13px;
    }

    div#store_locatore_search_map {
        height: 400px!important;
    }

    div#store_locatore_search_map.left {
        top: 0;
        position: relative!important;
    }
    .full_width_div{
        height: auto !important;
    }
    .map-listings.left {
        position: relative;
        left: inherit;
        height: 1118px!important;
    }
    #store_locatore_search_map{
        position: relative !important;
        width: 100% !important;
    }
    .map-listings{
        position: relative !important;
    }
    .ob_stor-relocator .loader > div > div.col-left{
        padding: 0px;
        margin: 0px;
        width: 100%;
        border: unset;
        box-shadow: unset;
    }


    .map-listings.left {
        position: relative;
        left: inherit;
        height: 1118px!important;
    }

}


@media screen and (max-width: 348px){

    .store-locator-item-container .store-locator-item {

        padding: 10px;

    }


    .store-locator-item .top-details {
        margin: 2px!important;

    }
}


p.cdc-link a {
    color: black;
    font-size: 11px;
}

.wpsl-distance {
    margin-top: 2px!important;
}

.store-infowindow p {
    margin: 4px 0!important;
}

.store-infowindow {
    width: 200px;
}

form#store_locator_search_form input, select, .select2-container {
    /*width: 100% !important;*/
}

.pano-loader {
    background-color: white;
    opacity: 0.6;
    text-align: center;
    position: absolute;
    z-index: 9;
    height: 100%;
    width: 200px;
}

.pano-loader img {
    margin-top: 40%;
}

.pano-loader.pano-hide {
    display: none !important;
}

.left-skip {
    float: right !important;
}

.hide-field {
    display: none !important;
}

ul.hide_fields li {
    float: left;
    width: 100%;
}

.store_days_time {
    display: none;
}

.store-list-address p {
    margin: 6px;
}

.store-list-address i {
    color: #31c1d2;
}

.store-list-address {
    font-size: 14px;
}

.wpsl-name {
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    float:right;
    text-align:right;
}
.store-list-address .wpsl-address,
.store-list-address .wpsl-city {
    width: 100%;
    float: left;
    text-align: right;
}
.store-list-address .wpsl-wesite-link {
    float: left;
    text-align: right;
    width: 100%;
}
.section-hero-header-directions-icon{
    float:left!important;
}
p.time {
    border-bottom: solid 1px #CCC;
}

img.store-img {
    width: 200px;
    max-height: 200px;
}

div.store-direction {
    position: relative;
    /* float: right; */
    right: 0px;
    width: auto;
    background-color: white;
    color: #4285f4;
    text-align: center;
    padding: 4px;
    border: solid 1px #CCC;
    border-radius: 6px;
    float:left;
    margin-bottom:-23px;
}
.section-hero-header-directions-icon{
    margin-right: 3px!important;
}
/* listing below map styles */
div#store_locatore_search_map.below_map {
    width: 100% !important;
}
.map-listings.below_map{
    width: 100%;
    height: auto !important;
    position: relative;
    display: inline-block;
}
.map-listings.below_map .store-locator-item-container{
    overflow-y: unset;
}
.ob_stor-relocator .wpml_above_map {
    width: 100% !important;
    margin: 0px;
    padding: 0px !important;
    box-shadow: unset !important;
    border: unset !important;
    direction: rtl;
}
.ob_stor-relocator .wpml_above_map .store_locator_field{
    float: right !important;
}
.wpml_above_map form#store_locator_search_form {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.wpml_above_map .store_locator_field {
    float: left;
    width: 19%;
    vertical-align: middle;
    line-height: 60px;
    margin-right: 1%;
}
.wpml_above_map .store_locator_field input, .wpml_above_map .store_locator_field select  {
    width: 100% !important;
    height: 40px;
    margin: 0;
    padding: 0 !important;
    position: relative;
}
.wpml_above_map input#store_locatore_search_input{
    width: 100% !important;
}
.wpml_above_map input#s2id_autogen1 {
        height: 30px;
    width: 100% !important;
}
.wpml_above_map #s2id_store_locator_tag{
    width: unset !important;
}
@media screen and (max-width: 768px){
    .wpml_above_map .store_locator_field {
    float: none;
    width: 100%;
    }
    .wpml_above_map .full_width_div{
        height: unset !important;
    }
}
/* end listing below map style */
.store-list-address .wpsl-phone{
    clear: both;
}
.store-list-details .store-direction{
    clear: both;
    float: none;
    margin-bottom: 0px;
}